<launch>
	<node pkg="tf" type="static_transform_publisher" name="camera_pub" args="0 0 0  0 0 0 1    /camera_link /camera_rgb_optical_frame 1000"/>
	<node pkg="realsense_driver" type="realsense_driver" name="realsense_driver"/>
	<node pkg="realsense_driver" type="get_image" name="get_image"/>
</launch>



